

<body *ngIf="text2">


<div class="encabezado-principal">
  <h1 class="titulo-principal efecto">Editor Colaborativo de Partituras Musicales</h1>
  <h1 class="presentacion" >Realizado por:</h1>
  <h1 class="nombres efecto ">Sebastian Osorno Zapata</h1>
  <h1 class="nombres efecto">David A. Parra</h1>
  <hr class="linea">

</div>

<ng-container *ngIf="!text2" >

<div class="atributos-obra">
    
    <!-- <form >
        Select una nota:
        <br>
        <select  ng-model="myVar" name="num-coleccion"  ng-change="elegirobra()">
            <option *ngFor="let obra of text2" value="{{obra.nombre_obra}}">{{obra.nombre_obra}}</option> 
        </select>
        <input type="submit">
            Nota a ingresar: <input type="text" ng-model="firstname">
    </form> -->
    <!-- <form (ngModelChange)="elegirobra(num-coleccion.value)">
        <select name="num-coleccion">
            <option *ngFor="let obra of text2" value="{{obra.nombre_obra}}">{{obra.nombre_obra}}</option> 
        </select> 
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
     -->
    <input (keydown.enter)="consultar($event.target.value)"
       type="text">
    <!-- <input type="submit" (submit)="consultar()" > -->
           

    <h2 class="titulo-obra">{{text2[id$].nombre_obra}}</h2>
    <h2 class="version-obra">Version: {{text2[id$].descripcion_obra.version}}</h2>
    <h2 class="genero-obra">Genero: {{text2[id$].descripcion_obra.genero}} </h2> 
    <h2 class="autores-obra" *ngFor="let autor of text2[id$].descripcion_obra.compositor"> {{autor}}</h2>
    <p>{{id}}</p>

    


    <!-- <textarea  *ngIf ="!text" name="" id="texarea" cols="30" rows="30"
      style="margin: 0px;width: 400px;height: 442px;box-shadow: 5px 0 3px 0px black;">
      {{text2[0]}}
    </textarea> -->
    
    
  
</div>

<div> <hr class="linea"></div>
</ng-container>
<div class="pentagrama"   >
  <!-- ngFor-->
  <!-- <section class="barras">
      <span class="clave-{{text2[id$].eventos[1].clef}}"></span>
      <span class="half hi f2" ></span>
      <span class="half prueba"></span>
  </section>
  <section class="barras">
      <span class="half hi d2"></span>
      <span class="half hi c2"></span>
      
  </section>
  <section class="barras">
      <span class="half hi e3"></span>

  </section>
  <section class="barras">
        <span class="half hi e3"></span>

      </section>
  <section class="barras" *ngIf ="!text">
      <span class="half hi e3"></span>

  </section> -->
  <!-- <p  *ngIf ="!text" class="{{clase.tamano}}"> {{clase.tamano}} </p> -->
<!-- </div> -->

<section class="barras"  >
        <div class="cris">
            <span   class=" {{text2[0].eventos[0].clef}}"></span>
        </div >
        <div class="cris compas">
                <div>4</div>
                <div>4</div>
        </div>
       
        <div class="cris">
            <span  class=" half hi {{text2[0].eventos[0].nota}}"> </span>
        </div>
        <div class="cris plica">
            <div>#</div>
        </div>
        <div class="cris">
            <span  class=" half hi {{text2[0].eventos[3].nota}}"></span>
        </div>      
    </section>
    <section class="barras"  >
            <div class="cris">
                <span   class=" {{text2[0].eventos[0].clef}}"></span>
            </div >
            <div class="cris compas">
                    <div>4</div>
                    <div>4</div>
            </div>
           
            <div class="cris">
                <span  class=" half hi {{text2[0].eventos[0].nota}}"> </span>
            </div>
            <div class="cris plica">
                <div>#</div>
            </div>
            <div class="cris">
                <span  class=" half hi {{text2[0].eventos[0].nota}}"></span>
            </div>      
        </section>
<!-- <div class="pentagrama"> -->
    <!--<ng-container *ngFor="let mensage of text2[id$].eventos">
        <section class="barras"  >
            <span   class=" {{mensage.clef}}"></span>
            <ng-container  >
                <span  class=" half hi {{mensage.nota}}"> </span><div>#</div>
                <span  class=" half hi {{mensage.nota+1}}"></span>
                
            </ng-container>
        </section>
    </ng-container> -->    
</div>
</body>