<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <p *ngIf ="text2">Welcome to  {{text2.nombre_obra}}!</p> 
    <textarea name="" id="texarea" cols="30" rows="30"
      style="margin: 0px;width: 400px;height: 442px;box-shadow: 5px 0 3px 0px black;">
      {{text}}
    </textarea>
    <canvas name="canvas"
    style="margin: 0px;width: 400px;height: 442px;box-shadow: 5px 0 3px 0px black;"> 
    </canvas>
    
  </h1>
</div>
<h2>Here are some links to help you start: </h2>